<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Celsius to Fahrenheit Conersion</title>
    <link rel="stylesheet" type="text/css" href="Site.css" />
    <link href="bootstrap.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="topnav">
        <a href="index.html">Feet to Meters</a>
        <a href="C to F.html">Celsius to Fahrenheit</a>
        <a href="feetInches.html">Feet to Inches</a>
        <a href="base.html">Base to Base</a>
        <a href="centimeterToMeter.html">Centimeter to Meter</a>
    </div>
    <h1 class="header darkBlue">Celsius to Fahrenheit Conversion </h1>
    <div id="app">
        <br />
        <div class="container">
            <div class="row">
                <div class="offset-3 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                    <div class="row">
                        <div class="col-6">
                            <p> Celsius:<div><input v-model="inputC" class="input lineBoarder" type="number" /></div></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Fahrenheit: <div class="output lineBoarder">{{outputF}}</div></p>
                        </div>
                    </div>
                    <div class="centerize">
                        <button v-on:click="cToF" class="buttonB medBlue">Convert</button>
                    </div>
                </div>
                <div class=" offset-2 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                    <div class="row">
                        <div class="col-6">
                            <p> Fahrenheit:<div><input v-model="inputF" class="input lineBoarder" type="number" /></div></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Celsius: <div class="output lineBoarder">{{outputC}}</div></p>
                        </div>
                    </div>
                    <div class="centerize">
                        <button v-on:click="fToC" class="buttonB medBlue">Convert</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            inputC: "",
            outputF: "",
            inputF: "",
            outputC: ""
        },
        methods: {
            cToF: function () {
                this.outputF = parseFloat(this.inputC) * (9 / 5) + 32;
            },
            fToC: function () {
                this.outputC = (parseFloat(this.inputF)-32) * (5 / 9);
            }
        }
    })
</script>
