<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Unit Converter: Feet to Miles</title>
    <link rel="stylesheet" type="text/css" href="Site.css" />
    <link href="bootstrap.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="topnav">
        <a href="index.html">Feet to Miles</a>
        <a href="C to F.html">Celsius to Fahrenheit</a>
        <a href="feetInches.html">Feet to Inches</a>
        <a href="base.html">Base to Base</a>
        <a href="centimeterToMeter.html">Centimeter to Meter</a>
    </div>
    <div class="header darkBlue">
        Feet to Miles Convertion
    </div>
    <div id="app">
        <br />
        <div class="container">
            <div class="row">
                <div class="offset-3 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                    <div class="row">
                        <div class="col-6">
                            <p> Feet:<div><input v-model="Feet" class="input lineBoarder" type="number" v-on:change="" /></div></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p>Miles:   <div class="output lineBoarder" />{{Milesconvert}}</div></p>
                        </div>
                    </div>
                </div>
            <div class="offset-2 col-2 bgBlue shadow-lg p-3 mb-5 rounded">
                <div class="row">
                    <div class="col-6">
                        <p>Miles:<div><input v-model="Miles" class="input lineBoarder" type="number" v-on:change="" /></div></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p>Feet: <div class="output lineBoarder">{{Feetconvert}}</div></p>
                    </div>
                </div>
            </div>
           </div>
        </div>
        <div class="centerize">
            <br />
            <button v-on:click="buttonClicked" class="buttonB medBlue">Convert</button>
        </div>
    </div>
</body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            Feet: "",
            Miles: "",
            Feetconvert: "",
            Milesconvert: ""
        },
        methods: {
            buttonClicked: function () {
                if (this.Feet != "") {
                    this.Milesconvert = parseInt(this.Feet) / 5280;
                }
                if (this.Miles != "") {
                    this.Feetconvert = parseInt(this.Miles) * 5280;
                }
            }
        }
    })
</script>