<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Unit Converter: Feet to Miles</title>
    </head>
    <body>
        <div id="app">
            <p>Feet</p>
            <input v-model="Feet" v-on:change=""/>
            <p>Miles</p>
            <input v-model="Miles" v-on:change=""/>
            <button v-if:click="buttonClicked">Convert!</button>
        </div>
    </body>
</html>
<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            Feet: "",
            Miles: ""
        },
        methods: {
            buttonClicked: function () {
                if (this.Feet != "") {
                    this.Miles = parseInt(this.Feet) / 5280;
                }
                else {
                    this.Feet = parseInt(this.Miles) * 5280;
                }
            }
        }
    })
</script>