body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Georgia;
}
.buttonB:hover {
    background-color: #42a5f5;
    color: white;
    width: 120px;
    height: 40px;
    outline: none;
    transition: .1s ease-in-out;
}
.buttonB {
    transition: .1s ease-in-out;
    border-radius: 4px;
    font-family: Georgia;
    font-size: 16px;
    border: 1px solid #42a5f5;
    background-color: white;
    width: 120px;
    height: 40px;
    outline: none;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer !important;
}
.header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    background-color: #e3f2fd;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.input {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    width: 160px;
    height: 32px;
    text-align: center;
}
.output {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    width: 160px;
    height: 32px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    line-height: 32px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
.TopNavBar {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
}
.darkBlue {
    color: #0844a4;
}
.medBlue {
    color: #42a5f5;
}
.lightBlue {
    color: #e3f2fd;
}
