body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Georgia;
}
.buttonB:hover {
    background-color: #42a5f5;
    color: white;
    width: 120px;
    height: 40px;
    outline: none;
    transition: .1s ease-in-out;
}
.buttonB {
    transition: .1s ease-in-out;
    border-radius: 4px;
    font-family: Georgia;
    font-size: 16px;
    border: 1px solid #42a5f5;
    background-color: white;
    width: 120px;
    height: 40px;
    outline: none;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    cursor: pointer !important;
}
.header {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
    letter-spacing: 2px;
    background-color: #e3f2fd;
    line-height: 100px;
    text-align: center;
}
.input {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    width: 160px;
    height: 32px;
    text-align: center;
}
.lineBoarder {
    border-style: solid;
    border-width: 1px;
}
.output {
    font-family: 'Georgia', sans-serif;
    font-size: 16px;
    width: 160px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: white;
}
.topnav {
    background-color: #333;
    overflow: hidden;
}
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }
.darkBlue {
    color: #0844a4;
}
.medBlue {
    color: #42a5f5;
}
.lightBlue {
    color: #e3f2fd;
}
.darkBlack{
    color: #000000;
}
.centerize {
    text-align: center;
}
.bgBlue {
    background-color: #e3f2fd;
    padding: 5px;
}