body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #EEE;
}
#bin {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans', sans-serif;
}
.buttonB:hover {
    background-color: #42a5f5;
    color: white;
    width: 120px;
    height: 40px;
    outline: none;
    transition: .25s ease-in-out;
}
.buttonB {
    transition: .25s ease-in-out;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid #42a5f5;
    color: #42a5f5;
    background-color: white;
    width: 120px;
    height: 40px;
    outline: none;
    display: inline-block;
    line-height: 40px;
    cursor: pointer !important;
}
.header {
    
    font-size: 60px;
    color:#e3f2fd;
    letter-spacing: 2px;
    background-color: #333745;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
